/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/all.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/all.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/all.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/all.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/all.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/all.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/all.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/all.scss */
.container {
  background-color: #ccc;
  box-shadow: 3px 3px 4px gray;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

/* line 60, ../sass/all.scss */
#title-font {
  padding: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}

/* line 65, ../sass/all.scss */
.result-title {
  padding: 20px;
}

/* line 68, ../sass/all.scss */
#result {
  padding: 30px;
}

/* line 72, ../sass/all.scss */
.img-box {
  width: 600px;
  margin: 0 auto;
}
/* line 75, ../sass/all.scss */
.img-box > img {
  width: 100%;
}
